/* You can add global styles to this file, and also import other style files */
*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(12, 12, 12) 0%, rgb(1, 1, 36) 35%, rgb(3, 3, 27) 100%);
}
